* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calc {
  max-width: 500px;
  background-color: #ccc;
  filter: drop-shadow(0 0 15px #ccc);
  padding: 10px;
}

#output-ctn {
  background-color: #fff;
  margin-bottom: 25px;
}

#preview,
#output {
  display: block;
  text-align: right;
  width: 100%;
  padding: 10px;
}

#output {
  font-size: 36px;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

#zero {
  grid-column: 1 / 4;
}

#clear {
  grid-column: 1 / 3;
}

.button {
  padding: 30px;
  font-size: 24px;
}
